.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 8px;
}

.pagination button {
    border: 1px solid #ddd;
    background: #fff;
    color: #58546a;
    min-width: 40px;
    height: 40px;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.pagination button:hover {
    border-color: #ff5b35;
    color: #ff5b35;
}

.pagination button.active {
    background-color: #ff5b35;
    color: white;
    border-color: #ff5b35;
}